.features {
	display: flex;
	align-items: center;
	padding: 2rem 0;
	width: 100%;
}

.featureSvg {
	height: 200px;
	width: 200px;
}

.recommendedArticleContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}

.spacer {
	height: 8px;
}
